body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > label,form >  input, form > button {
    margin: 10px 0;
    width: 100%;
}

form > input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form > button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form >.reset {
    background-color: #f44336;
    color: white;
}