{{define "finance-track"}}
<!DOCTYPE html>
<html>
<head>
    <title>Salazar</title>
</head> 

<body>
    <div>
        <div>
            <div>
                <h1>Salazar</h1>
            </div>
            <div>
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>

        {{with .ServerResponse}}
        {{template "server-response" .ServerResponse}}
        {{end}}
    
        {{with .FinanceConfirm}}
        {{template "finance-confirm" .FinanceConfirm}}
        {{end}}

        <div>
            <div class="finance-selected">track</div>
            <div>
                <form action="/finance-feed" method="get">
                    <button type="submit">feed</button>
                </form>
            </div>
        </div>
        <div>
            {{.Month}}
        </div>

        {{range .Categories}}
        <div>
            <div>{{.Name}}</div>
            <div>
                <!-- chart js for bar implementation? -->
                <div>bar here</div> 
                <div>{{.Balance}}/{{.Limit}}</div>
            </div>
        </div>
        {{end}}
        <div>
            <form action="/finance-track" method="post">
                <label for="expense-name">Name</label>
                <input type="text" placeholder="Enter expense name" name="expense-name" required>
                <label for="amount">Amount</label>
                <input type="text" placeholder="Enter expense amount" name="amount" required>
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="pdo">Phoenix Dining</option>
                    <option value="pg">Phoenix Grocery</option>
                    <option value="sdo">Seattle Dining</option>
                    <option value="sg">Seattle Grocery</option>
                  </select>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>
{{end}}