{{define "finance-confirm"}}
<div>
    <div>Confirm</div>
    <div>
        Are you sure you to want to {{if .PreviouseExpense}} update {{else}} create {{end}} this expense?
        <br>
        <br>
        {{if .PreviouseExpense}}
        <!-- from previous expense to current expense html table -->
        {{else}}
        <!-- current expense in ul -->
        {{end}}
        <div>
            
        </div>
    </div>
    <div>
        <!-- hidden form submitting new or changed expense -->
    </div>
</div>
{{end}}