{{ define "finance-feed" }}
<div class="finance-substate">
    {{ with .FinanceFeedEdit }}
        {{ template "finance-feed-edit" .FinanceFeedEdit }}
    {{ end }}
        
    {{ with .FinanceFeedConfirm }}
        {{ template "finance-feed-confirm" .FinanceFeedConfirm }}
    {{ end }}

    {{ with .ServerResponse }}
        {{ template "server-response" .ServerResponse }}
    {{ end }}
    <div>
        <div><button hx-get="/finance/track">Track</button></div>
        <div>Feed</div>
    </div>
    {{ if .Expenses }}
    {{ range .Expenses }}
    <div>
        <div>
            <div>{{ .User }}</div>
            {{ if .IsOwner }}
            <div>
                <form hx-post="/finance/feed/edit" hx-target="#finance-substate" hx-swap="outerHTML">
                    <input type="hidden" name="expense-id" value="{{ .ExpenseId }}" readonly>
                    <input type="hidden" name="name" value="{{ .Name }}" readonly>
                    <input type="hidden" name="amount" value="{{ .Amount }}" readonly>
                    <input type="hidden" name="category" value="{{ .Category }}" readonly>
                    <button type="submit">Edit</button>
                </form>
            </div>
            {{ end }}
        </div>
        <div>
            Spent ${{ .Amount }} on {{ .Name }} @ {{ .Datetime }} [{{ .Category }}]
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}