{{ define "finance" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <div>
            <h2 hx-get="/home" hx-target="body">
                Family
            </h2>
            <div>
                <button hx-post="/logout" hx-target="body">Logout</button>
            </div>
        </div>
        {{ with .FinanceTrack }}
            {{ template "finance-track" . }}
        {{ else  }}
            {{ template "finance-feed" .FinanceFeed }}
        {{ end }}
        <div>
        </div>
    </div>
    <script src="/static/htmx.min.js"></script>
</body>
</html>
{{ end }}