{{ define "finance-track" }}
<div class="finance-substate">
    {{ if .FinanceTrackConfirm }}
        {{ template "finance-track-confirm" . }}
    {{ end }}
    {{ if .ServerResponse }}
        {{ template "server-response" . }}
    {{ end }}
    <div>
        <div>Track</div>
        <div>
            <button hx-get="/finance/feed">Feed</button>
        </div>
    </div>
    <div>
        <h3>
            {{ .Month }}
        </h3>
    </div>
    <div>
        {{ range .Categories }}
        <div>
            <div>{{ .Name }}</div>
            <div>
                <div>Bar here</div>
                <div>{{ .Balance }}/{{ .Limit }}</div>
            </div>
        </div>
        {{ end }}
    </div>
    <div>
		<form hx-post="/finance/track" hx-target="#finance-substate" hx-swap="outerHTML">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" required>
			<label for="amount">Amount</label>
			<input type="number" id="amount" name="amount" step="0.01" required>
			<label for="category">Category</label>
			<select id="category" name="category" required>
				<option value="sdo">Sea dine out</option>
				<option value="sg">Sea groceries</option>
				<option value="pdo">Phx dine out</option>
                <option value="sc">Sea cleaning</option>
                <option value="pg">Phx groceries</option>
			</select>
			<input type="submit" value="Submit">
		</form>
    </div>
</div>
{{ end }}