{{ define "finance-track" }}
<div id="finance-substate">
    {{ if .FinanceTrackConfirm }}
        {{ template "finance-track-confirm" .FinanceTrackConfirm }}
    {{ end }}
    {{ if .ServerResponse }}
        {{ template "server-response" .ServerResponse }}
    {{ end }}
    <div>
        <div>
            <button class="nb-button green">Track</button>
        </div>
        <div>
            <button class="nb-button default" hx-get="/finance/feed" hx-target="#finance-substate" hx-swap="outerHTML">Feed</button>
        </div>
    </div>
    <div>
        <h3>
            {{ .Month }}
        </h3>
    </div>
    <div>
        {{ range .Categories }}
        <div class="card">
            <div>{{ .Name }}</div>
            <div>
                <div>Bar here</div>
                <div>{{ .Balance }}/{{ .Limit }}</div>
            </div>
        </div>
        {{ end }}
    </div>
    <div>
		<form class="dialog" hx-post="/finance/track" hx-target="#finance-substate" hx-swap="outerHTML">
			<label class="nb-label" for="name">Name</label>
			<input class="nb-input default" type="text" id="name" name="name" required>
			<label class="nb-label" for="amount">Amount</label>
			<input class="nb-input default" type="number" id="amount" name="amount" step="0.01" required>
			<label class="nb-label" for="category">Category</label>
			<select class="dropdown" id="category" name="category" required>
				<option value="Seattle Dine Out">Seattle Dine Out</option>
				<option value="Seattle Groceries">Seattle Groceries</option>
				<option value="Phx Dine Out">Phx Dine Out</option>
                <option value="Seattle Cleaning">Seattle Cleaning</option>
                <option value="Phx Groceries">Phx Groceries</option>
			</select>
            <div class="button-container">
                <button class="nb-button green" type="submit">Add Expense</button>
                <button class="nb-button pale-red" type="reset">Reset</button>
            </div>
		</form>
    </div>
</div>
{{ end }}