{{ define "finance-track" }}
<div id="finance-substate">
    {{ if .FinanceTrackConfirm }}
        {{ template "finance-track-confirm" .FinanceTrackConfirm }}
    {{ end }}
    {{ if .ServerResponse }}
        {{ template "server-response" .ServerResponse }}
    {{ end }}
    <div>
        <div>Track</div>
        <div>
            <button hx-get="/finance/feed" hx-target="#finance-substate" hx-swap="outerHTML">Feed</button>
        </div>
    </div>
    <div>
        <h3>
            {{ .Month }}
        </h3>
    </div>
    <div>
        {{ range .Categories }}
        <div>
            <div>{{ .Name }}</div>
            <div>
                <div>Bar here</div>
                <div>{{ .Balance }}/{{ .Limit }}</div>
            </div>
        </div>
        {{ end }}
    </div>
    <div>
		<form hx-post="/finance/track" hx-target="#finance-substate" hx-swap="outerHTML">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" required>
			<label for="amount">Amount</label>
			<input type="number" id="amount" name="amount" step="0.01" required>
			<label for="category">Category</label>
			<select id="category" name="category" required>
				<option value="Seattle Dine Out">Seattle Dine Out</option>
				<option value="Seattle Groceries">Seattle Groceries</option>
				<option value="Phx Dine Out">Phx Dine Out</option>
                <option value="Seattle Cleaning">Sea cleaning</option>
                <option value="Phx Groceries">Phx Groceries</option>
			</select>
			<input type="submit" value="Submit">
		</form>
    </div>
</div>
{{ end }}