<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <div>
            <h2 hx-get="/home">
                Family
            </h2>
            <div>
                <button hx-post="/logout"></button>
            </div>
        </div>
        {{ if .FinanceTrack }}
        {{ template "finance-track" .FinanceTrack }}
        {{ else  }}
        {{ template "finance-feed" .FinanceFeed }}
        {{ end }}
        <div>
        </div>
    </div>
</body>
</html>