{{ define "finance-feed" }}
<div id="finance-substate">
    {{ if .FinanceFeedEdit }}
        {{ template "finance-feed-edit" .FinanceFeedEdit }}
    {{ end }}
        
    {{ if .FinanceFeedConfirm }}
        {{ template "finance-feed-confirm" .FinanceFeedConfirm }}
    {{ end }}

    {{ if .ServerResponse }}
        {{ template "server-response" .ServerResponse }}
    {{ end }}
    <div>
        <div><button hx-get="/finance/track" hx-target="#finance-substate" hx-swap="outerHTML">Track</button></div>
        <div>Feed</div>
    </div>
    {{ if .Expenses }}
        {{ range .Expenses }}
    <div>
        <div>
            <div>{{ .Username }}</div>
        </div>
        <div>
            Spent ${{ .Amount }} on {{ .Name }} @ {{ .Datetime }} [{{ .Category }}]
        </div>
        {{ if .IsOwner }}
        <div>
            <form hx-post="/finance/feed" hx-target="#finance-substate" hx-swap="outerHTML">
                <input type="hidden" name="expense-id" value="{{ .ExpenseId }}" readonly>
                <input type="hidden" name="name" value="{{ .Name }}" readonly>
                <input type="hidden" name="amount" value="{{ .Amount }}" readonly>
                <input type="hidden" name="category" value="{{ .Category }}" readonly>
                <button type="submit">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 17.25V21h3.75l10.825-10.825-3.75-3.75L3 17.25zm12.9-10.45l3.75 3.75 1.5-1.5-3.75-3.75-1.5 1.5z" fill="black"/>
                      </svg>
                </button>
            </form>
        </div>
        {{ end }}
    </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}