<!DOCTYPE html>
<html>
<head>
    <title>Salazar</title>
</head> 
<body>
    <div>
        <div>
            <h1>Salazar</h1>
        </div>
        <div>
            <div>
                <ul>
                    <li>
                        <a href="/finance-track">finance</a>
                    </li>
                </ul>
            </div>
            <div>Finance description here.</div>
        </div>
        <div>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>