{{ define "login" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/index.min.css">
</head>
<body>
    <div>
        {{ if .ServerResponse }}
            {{ template "server-response" .ServerResponse }}
        {{ end }}
        <div class="login-container">
            <div>
                <h2>Login</h2>
            </div>
            <div>
                <form class="dialog" hx-post="/login" hx-target="body">
                    <label class="nb-label" for="username">Username</label>
                    <input class="nb-input default" type="text" id="username" name="username" placeholder="username" required>
                    <label class="nb-label" for="password">Password</label>
                    <input class="nb-input default" type="password" id="password" name="password" placeholder="Password" required>
                    <div class="button-container">
                        <button class="nb-button green" type="submit">Login</button>
                        <button class="nb-button pale-red" type="reset" class="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/htmx.min.js"></script>
</body>
</html>
{{ end }}