{{ define "login" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Login</title>
</head>
<body>
    <div class="fb-container">
        {{ if .ServerResponse }}
            {{ template "server-response" .ServerResponse }}
        {{ end }}
        <div class="fb-row">
            <h2>Login</h2>
        </div>
        <div class="fb-row">
            <form hx-post="/login" hx-target="body">
              <div class="fb-container">
                <div class="fb-row">
                  <label for="username">Username</label>
                </div>
                <div class="fb-row">
                  <input type="text" id="username" name="username" placeholder="username" required>
                </div>
                <div class="fb-row">
                  <label for="password">Password</label>
                </div>
                <div class="fb-row">
                 <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
              </div>
              <div class="fb-container fb-row">
                <div class="fb-row">
                 <button type="submit">Login</button>
                </div>
                <div class="fb-row">
                  <button type="reset" class="reset">Reset</button>
                </div>
              </div>
            </form>
        </div>
    </div>
    <script src="/static/htmx.min.js"></script>
</body>
</html>
{{ end }}
