{{define "login"}}
<!DOCTYPE html>
<html>

<head>
    <title>Salazar</title>
</head> 
<body>
    <div>
        {{with .}}
        {{template "server-response" .}}
        {{end}}
        <div><h1>Login</h1></div>
        <div>
            <form action="/login" method="post">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
{{end}}